{
  "plugins": [
    "./builder/babel-plugins/bling-count-texture-files",
    "./builder/babel-plugins/bling-inline-dirs",
    "./builder/babel-plugins/bling-inline-scss-vars",
    ["@babel/plugin-transform-template-literals", { "loose": true }]
  ],
  "presets": [
    ["@babel/preset-react"],
    [
      "@babel/preset-env",
      {
        "exclude": [
          "@babel/plugin-transform-arrow-functions",
          "@babel/plugin-transform-classes",
          "@babel/plugin-transform-destructuring",
          "@babel/plugin-transform-template-literals",
          "@babel/plugin-transform-regenerator"
        ],
        "loose": true,
        "forceAllTransforms": true,
        "targets": {
          "browsers": "last 2 years and > 2%"
        }
      }
    ]
  ]
}
