{
  "plugins": [
    "./builder/babel-plugins/bling-count-texture-files",
    "./builder/babel-plugins/bling-inline-dirs",
    ["@babel/plugin-transform-template-literals", { "loose": true }],
    ["@babel/plugin-transform-classes", { "loose": true }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "forceAllTransforms": true,
        "targets": {
          "browsers": "last 2 years and > 1%"
        }
      }
    ]
  ]
}
