<div class="loader"></div>
<div class="toolbar">
  <label>
    <button class="panel-toggle" data-toggle="textures">
      🎨 texture
    </button>
  </label>
  <label for="font">
    <select name="font" id="font"></select>
  </label>
  <label>
    <button class="panel-toggle" data-toggle="fx">
      🧙 fx
    </button>
  </label>
  <label>
    <button class="encode-button">
      🚚 GIF
    </button>
  </label>
</div>
<div class="panel sliding panel-textures hued" hidden>
  <div class="panel-slider texture-options"></div>
</div>
<div class="panel panel-fx hued" hidden>
  <label for="hue">
    hue
    <input id="hue" type="range" min="0" max="1" step="0.05" value="0" />
  </label>
</div>
