<div class="loader"></div>
<div class="toolbar">
  <label>
    <button class="panel-toggle" data-toggle="textures">
      <span class="hide-on-small">💎 </span>texture
    </button>
  </label>
  <label>
    <button class="panel-toggle selected-font" data-toggle="font"></button>
  </label>
  <label>
    <button class="panel-toggle" data-toggle="fx">
      <span class="hide-on-small">🎨 </span>fx
    </button>
  </label>
  <label>
    <button class="encode-button">
      <span class="hide-on-small">🚚 </span>GIF
    </button>
  </label>
</div>
<div class="panel sliding panel-textures hued" hidden>
  <div class="panel-slider texture-options"></div>
</div>
<div class="panel panel-fx" hidden>
  <label for="hue">
    hue
    <input id="hue" type="range" min="0" max="1" step="0.05" value="0" />
  </label>
</div>
<div class="panel sliding panel-font" hidden>
  <div class="panel-slider font-options hued">
    <template>
      <div class="font-option">
        <div class="font-preview"></div>
        <div class="font-name"></div>
      </div>
    </template>
  </div>
</div>
