// Originally: Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.1 (modified for https://github.com/alanorozco/bling.cool)
// MIT License

$track-color: black;
$thumb-color: black;

$thumb-height: 24px;
$thumb-radius: $thumb-height / 2;
$thumb-width: $thumb-height;

$track-width: 100%;
$track-height: 2px;

$contrast: 5%;

$ie-bottom-track-color: $track-color;

// overrides, some defined in ./index.scss.vars.js
$track-color: $lightGrayish;
$thumb-color: $grayish;
$thumb-height: 24px;

@define-mixin track $track-width $track-height {
  cursor: default;
  height: $(track-height);
}

@define-mixin thumb $adjustment: 0 {
  background: $thumb-color;
  border: none;
  border-radius: calc($thumb-radius);
  cursor: default;
  height: calc($thumb-height + $(adjustment));
  width: calc($thumb-width + $(adjustment));
}

[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  margin: calc($thumb-height) / 2 0;
  min-width: 200px;

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track,
    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }
  }

  &::-webkit-slider-runnable-track {
    @mixin track $track-width $track-height;
    background: $track-color;
    border: none;
    border-radius: 0;
  }

  &::-webkit-slider-thumb {
    @mixin thumb;
    -webkit-appearance: none;
    margin-top: calc($track-height / 2 - $thumb-height / 2);
  }

  &::-moz-range-track {
    @mixin track $track-width $track-height;
    background: $track-color;
    border: none;
    border-radius: 0;
    height: calc($track-height / 2);
  }

  &::-moz-range-thumb {
    @mixin thumb -4px;
  }

  &::-ms-track {
    @mixin track $track-width $track-height;
    background: transparent;
    border: none;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: $ie-bottom-track-color;
    border: none;
    border-radius: 0;
  }

  &::-ms-fill-upper {
    background: $track-color;
    border: none;
    border-radius: 0;
  }

  &::-ms-thumb {
    @mixin thumb -4px;
    margin-top: calc($track-height / 4);
  }

  &:disabled {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb,
    &::-webkit-slider-runnable-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      cursor: not-allowed;
    }
  }
}
