/**
 * Copyright 2019 Alan Orozco <alan@orozco.xyz>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to
 * deal in the Software without restriction, including without limitation the
 * rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
 * sell copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
@import '../3p/style-range-inputs/style-range-inputs.scss';

// defaults, others in ./index.scss.vars.js
$lineHeight: 1.5;
$toolbarHeight: 50px;
$bodyBorder: 24px;
$smallView: 700px;

// text shadow
$shadowX: 6px;
$shadowY: 6px;
$shadowBlur: 12px;
$shadowOpacity: 0.48;

[type='range'] {
  margin: calc($thumb-height / 2) calc($thumb-height / 4);
}

$fuSafariOffset: 400px;

body {
  margin: 0;
  font-family: 'Chalkboard SE', 'Chalkboard', 'Comic Sans MS', sans-serif;
  font-size: 16px;
  line-height: $lineHeight;
  overflow: hidden;
  min-height: 100vh;
  position: relative;

  @media (max-width: $smallView) {
    &.safari.focus {
      min-height: calc(100vh - $fuSafariOffset);
      max-height: calc(100vh - $fuSafariOffset);
      height: calc(100vh - $fuSafariOffset);
    }
  }
}

.hide-on-small {
  @media (max-width: $smallView) {
    display: none;
  }
}

.not-ready {
  opacity: 0;
  pointer-events: none;
}

.border {
  z-index: -1;
}

.border,
.fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

button {
  cursor: pointer;
}

.loader {
  background: white url(/assets/cat.gif) no-repeat center center;
  background-size: 604px 32px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  height: 42px;
  left: $bodyBorder;
  right: $bodyBorder;
  bottom: $marginUnit;
  z-index: 1000;

  &.active {
    opacity: 1;
    pointer-events: all;
    display: block;
  }
}

footer {
  margin: calc(2 * $marginUnit) 0;
  text-align: center;
  text-transform: lowercase;

  @media (max-width: $smallView) {
    display: none;
  }
}

.fl-r,
.fl-c,
.fl-cx,
main,
.editable-wrap,
button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl-r,
button {
  flex-direction: row;
}

.fl-c,
.fl-cx,
main,
.editable-wrap {
  flex-direction: column;
}

.fl-cx {
  justify-content: start;
}

footer {
  font-size: 82%;

  > .buggy {
    color: $darkGrayish;
  }

  @media (max-width: $smallView) {
    font-size: 100%;
    padding: 0 $marginUnit;
  }
}

p {
  margin: calc($marginUnit / 2) 0;
}

main {
  background: white;
  box-sizing: border-box;
  position: absolute;
  top: $bodyBorder;
  right: $bodyBorder;
  bottom: $bodyBorder;
  left: $bodyBorder;
  height: calc(100vh - 2 * $bodyBorder);
  border-radius: calc(0.5 * $marginUnit);

  @media (max-width: $smallView) {
    border-radius: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: calc(100vh - $bodyBorder);

    body.safari.focus & {
      height: calc(100vh - $bodyBorder + $fuSafariOffset);
      bottom: calc($marginUnit + $fuSafariOffset);
    }
  }
}

$editablePadding: 2 * $marginUnit;

.editable-wrap {
  flex: 1;
  cursor: text;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: calc(-2 * $marginUnit) 0 0;
  overflow: hidden;

  @media (max-width: $smallView) {
    // fu sfari
    justify-content: start;
  }

  > div,
  > textarea {
    outline: none;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;

    // It would be nice to use `color: transparent`, but chrome "optimizes"
    // it so it's clipped.
    color: white;
    -webkit-text-fill-color: transparent;

    // Some padding is needed so text is not clipped.
    padding: calc($editablePadding);

    // And for dynamic resizing:
    box-sizing: border-box;

    // TODO: Maybe this can be analyzed on build time based on font, as some
    // leave very large line gaps. Nice to have.
    line-height: 1.2;
  }

  > .editable-sentinel {
    position: absolute;
  }
}

.editable-text-fitter {
  color: transparent;
}

.textured,
.texture-option {
  background-color: $blue;
}

.textured {
  background-image: var(--texture-animated);
}

.textured-static {
  background-image: var(--texture-static);
}

$panelContentHeight: 60px;

.texture-option {
  width: calc($panelContentHeight);
  height: calc($panelContentHeight);
  margin: 0 calc($marginUnit / 3);
  display: block;
  cursor: pointer;
  transition: transform ease-out 0.2s, opacity ease-out 0.2s;
  opacity: 0.7;
  position: relative;
  border-radius: calc($panelContentHeight);
  overflow: hidden;
  transform: scale(0.9);

  &:hover,
  &.selected {
    opacity: 1;
  }
  &.selected {
    transform: scale(1.3);
  }
}

$panelMarginForScrollbarUgh: 18px;
$panelGradientWidth: 60px;

$fontPreviewHeight: 28px;
$fontPreviewSize: 20px;

$fontOptionWidth: 140px;
$fontOptionHeight: $fontPreviewHeight + $marginUnit;

$fontOptionMargin: 4px;

$panelHeight: 2 * ($fontOptionHeight + 2 * $fontOptionMargin) + 2 * $marginUnit;

.panel {
  width: 100%;
  position: relative;
  margin: $marginUnit 0;
  padding: $marginUnit;
  z-index: 2;
  box-sizing: border-box;
  height: calc($panelHeight);

  &.sliding {
    padding: 0;
  }

  > .panel-slider-container {
    overflow: hidden;
    height: calc($panelHeight);
    width: 100%;
    position: relative;

    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: calc($panelGradientWidth);
      height: 100%;
      pointer-events: none;
      z-index: 10000;
    }

    &:before {
      background: linear-gradient(to left, rgba(255, 255, 255, 0), white 80%);
    }

    &:after {
      background: linear-gradient(to right, rgba(255, 255, 255, 0), white 80%);
      right: 0;
    }

    > .panel-slider {
      width: 100%;
      height: 100%;
      > div {
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        height: calc(100% + $marginUnit * 2 + $panelMarginForScrollbarUgh);
        box-sizing: border-box;
        padding: $marginUnit calc($marginUnit / 2 + $panelGradientWidth)
          calc($marginUnit + $panelMarginForScrollbarUgh);
        position: relative;

        > div {
          display: inline-block;
        }
      }
    }
  }
}

@keyframes slideDownFadeIn {
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

#editable {
  caret-color: $caretBlue;
  color: transparent;
  position: absolute;

  // ayy lmao 👽
  // hack to make chrome show the editor caret when the area is empty.
  min-width: 10px;
  text-align: center;
}

a {
  color: $blue;
  font-weight: bold;
  text-decoration: none;
  &:hover,
  &:active {
    color: $lightBlue;
  }
}

$buttonRadius: 64px;
$toolbarLineHeight: 32px;

.toolbar {
  margin: calc($marginUnit * 1.5) 0;
  color: $darkGrayish;
  margin-top: calc(2 * $marginUnit);
  color: $lightBlue;
  height: calc($toolbarLineHeight + $marginUnit);
  line-height: $toolbarLineHeight;
  position: relative;
  z-index: 3; // over panel
  font-weight: bold;

  @media (max-width: $smallView) {
    margin-top: $marginUnit;
  }

  input,
  select,
  button {
    font: inherit;
    color: inherit;
  }

  button,
  select {
    overflow: hidden;

    @media (max-width: $smallView) {
      border-width: 0;
      margin: 0;
    }

    > svg {
      height: 26px;
    }
    > svg,
    > svg > g,
    > svg > path {
      fill: $lightBlue;
    }

    > label {
      margin-left: calc($marginUnit / 2);
    }

    &.selected,
    &:active {
      color: white;
      z-index: 2;

      > svg,
      > svg > g,
      > svg > path {
        fill: white;
      }
    }

    &:active {
      background: $verylightBlue;
      border-color: $verylightBlue;
    }

    &.selected {
      background: $lightBlue;
      background-image: var(--texture-static);
      border-color: $lightBlue;
      position: relative;
      border-color: transparent;

      &::after {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $lightBlue;
        opacity: 0.6;
      }
    }
  }
}

.label-toggle,
.toolbar button,
.toolbar select {
  height: 100%;
  outline: none;
  background: transparent;
  border: 2px solid $lightGrayish;
  border-radius: $buttonRadius;
  text-align: center;
  text-align-last: center;
  line-height: $toolbarLineHeight;
  padding: 2px $marginUnit;
  margin: 0 calc($marginUnit / 4);
  font-weight: bold;
  box-sizing: border-box;
}

.selected-font {
  width: calc($fontOptionWidth - $marginUnit * 2);
  margin: 0 calc($marginUnit / 2);
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.font-option {
  width: $fontOptionWidth;
  height: calc($fontOptionHeight + 2 * $fontOptionMargin);
  padding: 0;
  box-sizing: border-box;
  margin-right: calc($fontOptionMargin);
  cursor: pointer;
  border-radius: 8px;

  &.selected {
    background: $lightBlue;
  }

  &.selected,
  &.selected .font-name {
    color: white;
  }

  &:nth-child(even) {
    position: absolute;
    margin: calc($fontOptionHeight + 3 * $fontOptionMargin)
      calc($fontOptionMargin) 0 calc(-$fontOptionWidth - $fontOptionMargin);
  }
}

.font-preview {
  line-height: $fontPreviewHeight;
  font-size: $fontPreviewSize;
  height: $fontPreviewHeight;
  margin-bottom: calc(-2 * $fontOptionMargin);
  padding: $fontOptionMargin calc(2 * $fontOptionMargin);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.font-name {
  padding: 0 calc(2 * $fontOptionMargin);
  color: $grayish;
  font-size: 80%;
}

$encodedButtonHeight: 3 * $marginUnit;

.encoded {
  position: absolute;
  top: $toolbarHeight;
  left: 0;
  right: 0;
  bottom: calc(5 * $marginUnit);
  height: auto;
  padding: 0;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc($encodedButtonHeight + 6 * $marginUnit);

  @media (max-width: $smallView) {
    margin-top: calc($marginUnit + 2px);
    bottom: auto;
    justify-content: start;
  }

  .image-container {
    @media (max-width: $smallView) {
      margin-bottom: calc(-$marginUnit);
    }
  }

  > p {
    height: calc($encodedButtonHeight);
    margin: 0;
  }

  a {
    padding: calc($marginUnit / 2);

    > svg {
      height: 24px;
      margin: 0 calc($marginUnit / 2) 0 0;
    }

    &.close-button {
      color: $grayish;

      > svg > g {
        fill: $grayish;
      }

      &:hover {
        color: $blue;

        > svg > g {
          fill: $blue;
        }
      }
    }

    &.download-button {
      color: $blue; // hued

      > svg {
        fill: $blue; // hued
      }

      &:hover {
        color: $lightBlue; // hued

        > svg {
          fill: $lightBlue; // hued
        }
      }
    }
  }
}

.fun {
  position: absolute;
  color: $blue; // hued
  font-size: inherit;
  left: 0;
  right: 0;
  top: calc(30% - 2 * $marginUnit);
  pointer-events: none;

  @media (max-width: $smallView) {
    top: calc(-2 * $marginUnit);
  }

  :not([hidden]) & {
    animation: hidefun 2s;
    animation-fill-mode: both;
  }

  > svg {
    top: 0;
    width: 100px;
    fill: $verylightBlue; // hued
    position: absolute;

    &:first-child {
      transform: scale(-1, 1);
      right: 60%;
    }

    &:last-child {
      left: 60%;
    }
  }
}

@keyframes hidefun {
  100% {
    opacity: 0;
    transform: translate(0, -200px) scale(3);
  }
}

.close-button {
  font-weight: normal;
}

option {
  text-align: left;
}

[hidden] {
  display: none;
}

.label-range {
  margin: 0 calc($marginUnit / 2) $marginUnit;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  > div {
    min-width: 100%;
  }
}

.label-toggle {
  margin: 0 calc($marginUnit / 4) 0;
  display: flex;
  align-items: center;
  padding: 0 12px 0 0;
  border: none;
  position: relative;
  color: $grayish;

  // > span {
  //   margin: -2px $marginUnit / 8;
  // }

  > [type='checkbox'] {
    margin-right: 4px;

    &:focus {
      background-color: transparent;
    }

    &::after {
      content: ' ';
      pointer-events: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 100px;
      border: 2px solid $lightGrayish;
    }
    &:checked::after {
      border-color: $grayish;
    }
    &:focus::after {
      // border-color: $lightBlue;
    }

    &:checked + span {
      color: $darkGrayish;
    }
  }
}

.label-range {
  text-align: center;

  svg {
    height: 24px;
  }
}

.left-label {
  font-weight: bold;
  text-align: right;
  width: 64px; // hardcode for now
  margin: 2px $marginUnit / 2;
}

.hued svg {
  fill: $blue;
}

.hued [type='range'] {
  // These have to be separated by pseudo-selector, they
  // won't work when properties are shared across selectors.
  &::-webkit-slider-thumb {
    background: $lightBlue;
  }
  &::-moz-range-thumb {
    background: $lightBlue;
  }
  &::-webkit-slider-runnable-track {
    background: $verylightBlue;
  }
  &::-moz-range-track {
    background: $verylightBlue;
  }
}

[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  outline: none;
  border-radius: 100px;
  border: none;

  &:focus {
    background: $lightGrayish;
  }

  &:checked {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="slategray" viewBox="0 0 100 100"><path d="M32.4 79.6c1.9 1.9 4.4 2.9 7.1 2.9s5.2-1.1 7.1-2.9l43.1-43.1a10 10 0 10-14.1-14.1l-36.2 36-14.9-14.9a10 10 0 10-14.1 14.1l22 22z"/></svg>');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
  }
}
