/**
 * Copyright 2019 Alan Orozco <alan@orozco.xyz>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to
 * deal in the Software without restriction, including without limitation the
 * rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
 * sell copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

// defaults
$lineHeight: 1.5;
$toolbarHeight: 48px;
$bodyBorder: 20px;

// colors
$blue: rgb(0, 68, 214);
$grayish: rgb(147, 153, 160);

// overrides: 3p/style-range-inputs/style-range-inputs
$track-color: $grayish;
$thumb-color: $grayish;

@import '../3p/style-range-inputs/style-range-inputs';

body {
  margin: 0;
  padding: 20px;
  font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
  font-size: 18px;
  line-height: $lineHeight;
}

.not-ready {
  opacity: 0;
  pointer-events: none;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

h1,
footer {
  margin: 20px 0;
  text-align: center;
  font: inherit;
  text-transform: lowercase;
}

main {
  background: white;
  box-sizing: border-box;
  width: calc(100vw - #{2 * $bodyBorder});
  height: calc(100vh - #{2 * $bodyBorder});
  padding: 20px 0;
}

main,
.editable-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editable-wrap {
  flex: 1;
  cursor: text;
  box-sizing: border-box;
  padding: 0 40px;
  min-width: 100%;
}

div[contenteditable],
.editable-shadow {
  outline: none;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;

  // It would be nice to use `color: transparent`, but chrome "optimizes" it so
  // it's clipped.
  color: white;
  -webkit-text-fill-color: transparent;

  // Some padding is needed so text is not clipped
  padding: 40px;

  // TODO: Maybe this can be analyzed on build time based on font, as some leave
  // very large line gaps. Nice to have.
  line-height: 1.3;
}

div[contenteditable] {
  caret-color: rgba($blue, 0.8);

  // ayy lmao 👽
  // hack to make chrome show the editor caret when the area is empty.
  min-width: 10px;
  text-align: center;
}

footer a {
  color: $blue;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover,
footer a:active {
  color: lighten($blue, 20%);
}

.editable-shadow {
  position: absolute;
  text-shadow: 6px 6px 12px rgba($blue, 0.6);
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px;
  font-size: 14px;
  color: darken($grayish, 20%);
  line-height: $toolbarHeight;
}

.toolbar > label {
  margin: 0 20px;
}

.toolbar > label > input,
.toolbar > label > select {
  margin: 0 0 0 10px;
}

select {
  font: inherit;
  color: inherit;
  outline: none;
  -webkit-appearance: none;
  background: transparent;
  border: 2px solid $grayish;
  border-radius: 32px;
  padding: 6px 12px;
  text-align: center;
  text-align-last: center;
  line-height: $lineHeight;
}

option {
  text-align: left;
}
